<%- include('./partials/head.ejs') %>

   <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2><u>All Blogs</u></h2>
          
             <% if(blogs.length>0) {%>
               <%blogs.forEach(blog => {%>
                <a class="single" href="/blogs/<%= blog._id %>">
                <h3 style="text-align:centerleft" class="title"><%= blog.title%></h3>
                <p class="snippet"><%=blog.snippet%></p>
                </a>   
               <%})%>
            <% } else {%>
        <p class="snippet">There are no blogs to display</p>
            <%}%>
    </div>

<%- include('./partials/footer.ejs') %>
